@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@font-face { 
    font-family: calculator;    
    src: url(Calculator.ttf);
}

*{
    direction: rtl;
    font-size: 1.3rem;
    font-family: 'Amatic SC', cursive;   
    transition: all 0.5s;
}

#nav-bar{
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);

}
#my-footer{
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  div{
    text-align: center;
  }

}
.player-btn {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
width: 140px;
height: 100px;
font-size: 1.7rem;
    
}

label{
margin: 3px 15px;
}
#demo{
    font-family: calculator;
    src: url(Calculator.ttf);
    font-size: 10rem;
    text-align: center;
    // position: fixed;
}
#screen{
    width: 800px;
    height: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between

    
}

@media only all and (max-width: 818px) {    

#screen{
    display: grid;
    grid-template-columns: auto auto ;
    height: fit-content; 
}


#kid-name{
  width: 90px;
}
fieldset{
    margin:5px;
}    
#input-btn{
  #input-time{
    width: 40px;
  }
}
#time-btn{
  margin-top: 150px;
  width: 330px;
  height: 80px;

}
.time-wrap{
  display: flex;
  flex-wrap: wrap;
}
#demo{
  font-size:5rem;
}
#send-btn{
  margin-right:3px;
}

#end-time{
  left:8vw;

}

}



.time-div{
    width: 150px;
    height: 100px;
    
}
#time-btn{
    width: 200px;
    margin-top: 20px;
    color:black;
    // background-color: #00ff59;
    background-image: radial-gradient(100% 100% at 100% 0, #7fff00 0, #00ff59 100%);
}

.time-wrap{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

#send-btn{
  margin-right: 10px;
  background-color: chartreuse;
}
#time-wrapper{
display:flex;
flex-direction: column;
}

#end-time {
    width: 340px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 4px rgba(50, 50, 50, 0.59);
    background-color: white;
    display: none;
    position: fixed;
    text-align: center;
    left:38vw;
    bottom: 30%;
    font-size: 2rem;
    color: #050505;
    padding: 20px;
    z-index: +2;
  }
  

.main-wrap{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
}

.run-animation{
animation-name: fade;
animation-duration: 1s;
animation-timing-function:cubic-bezier(0.075, 0.52, 0.965, 1)
}

@keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



/* CSS */
.button-29 {
  align-items: center;
  margin: 2px;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-family: 'Amatic SC', cursive;
}


.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.warning-msg{
  color:red;
  text-align: center;
  font-size: 2rem;
}


#input-time{
    width: 110px;
    display: none;
}

#next-play{
  background-image: radial-gradient(100% 100% at 100% 0, #7fff00 0, #00ff59 100%);
    
}
#cancel-btn{
  background-image: radial-gradient(100% 100% at 100% 0, orange 0, #ffff00 100%);
  width: 100px;
  margin-top: 20px;
}